html {
	min-height:500px;
	width:100%;
	box-sizing:border-box;
	font-family: 'Oswald';
	font-size:20px;
	overflow-y: scroll;
}

body {
	min-height:500px;
	width:100%;
	box-sizing:inherit;
	margin:0;
	overflow:hidden;
	box-sizing:border-box;
    background-color: lightgray;
}

p {
	color:white;
	font-size:16px;
	margin:0;
}

h1{
	font-size:4vw;
	color:white;
	margin:0;
}
.flex_center {
	display:flex;
	justify-content: center;
	align-items: center;
    width: 80%;
}

.container_question {

    display:flex;
    height:100%;
    width:100%;
    background-color: rgb(150, 100, 100);
    padding:0 0 0 70%;

}