html {
	min-height:500px;
	width:100%;
	box-sizing:border-box;
	font-family: 'Oswald';
	font-size:20px;
	overflow-y: scroll;
}

body {
	min-height:500px;
	width:100%;
	box-sizing:inherit;
	margin:0;
	overflow:hidden;
	box-sizing:border-box;
    background-color: lightgray;
}

p {
	color:rgb(0, 0, 0);
	font-size:16px;
	margin:30px;
}

h1{
	font-size:4vw;
	color:black;
	margin:0;
    text-align: center;
}

.flex_container {
	display:flex;
	justify-content: center;
	align-items: center;
    width: 90%;
    height: 90%;
    background-color:rgb(145, 165, 201);
    flex-direction: column;
}

.flex_container > div {

    margin: 10px;
    background-color: rgb(219, 217, 217);
    font-size: 16px;

}